.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-header {
  text-align: center;
  filter: blur(20px);
  transform: translateY(-500px);

  transition:
    transform 1s ease,
    filter 1.5s ease,
    height 1s ease;
}

#main-header img {
  height: 200%;
  width: 100%;
  transition: height 1s ease-in-out;
}

#main-header.loaded {
  transform: translateY(0);
  filter: blur(0px);
}

#main-header.loaded img {
  height: 100%;
  width: 100%;
}

header img {
  border-radius: 1000px;
  border: 1px white solid;
  box-shadow:
    5px 0 20px rgb(116, 148, 177),
    -5px 0 20px rgb(128, 91, 91);
}

section {
  color: rgb(56, 48, 48);
  text-align: center;
}

section h1,
h2 {
  text-shadow:
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white,
    0 0 10px white;
}

section a {
  color: white;
}
