#bg {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: contrast(1.1) blur(50px);

  object-fit: cover;
<<<<<<< HEAD
=======
  pointer-events: none;

  z-index: -1;
>>>>>>> a1d2d93 (gjgjyjyf)

  transition: filter 5s ease;
}

#bg.loaded {
  filter: contrast(1.1) blur(0px);
}
