html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  margin: 0;
  background-color: black;
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-style: normal;

  user-select: none;
}

#contact {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  color: white;
  font-size: 14px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  padding: 20px;
  width: auto;
  max-width: 800px;

  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);

  text-shadow: 0 0 10px white;

  opacity: 0;
  filter: blur(10px);
  transition:
    opacity 1s ease,
    filter 1s ease;
}

#contact h1 {
  text-align: center;
}

#contact a {
  color: rgb(83, 83, 128);
  text-decoration: none;
  text-shadow:
    1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white,
    0px 1px 0 white,
    0px -1px 0 white,
    1px 0px 0 white,
    -1px 0px 0 white;
}

#contact.loaded {
  opacity: 1;
  filter: blur(0);
}

#projects {
  opacity: 0;
  transition: opacity 1s ease;
}

#projects.loaded {
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 10px;
  line-height: 0.9;
  user-select: none;
}

footer a {
  color: rgb(83, 83, 128);
  text-decoration: none;
}

#bg-music-control {
  position: fixed;
  top: 10px;
  right: 10px;

  width: 50px;
  aspect-ratio: 1 / 1;

  display: flex; /* 🔥 to jest klucz */
  align-items: center; /* pion */
  justify-content: center; /* poziom */

  z-index: 1000;
  opacity: 0.5;
  color: white;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgb(192, 192, 192);

  border-radius: 100%;

  transition: opacity 0.3s ease;
}
@media (max-width: 740px) {
  #contact {
    position: static;
    margin-bottom: 100px;
    z-index: auto;
    color: white;
    font-size: 14px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    padding: 20px;
    width: auto;
    max-width: 800px;

    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);

    text-shadow: 0 0 10px white;
  }
}
